CompileFlags:
  Add: [
    -I../include,
    -I.,
    -I/opt/homebrew/include,
    -I../external/raylib-master/src,
    -I../external/raylib-master/src/external,
    -I../grid,
    -I../tile,
    -I../tests,
    -Wall, -Wextra, -Wmissing-prototypes
    -Werror,
    -fsanitize=address,
    -fsanitize=undefined
  ]
